<div class="col-md-6">
  <%= simple_form_for(@equipmentable, html: { class: "form-vertical" }) do |f| %>
    <%= f.input :title, autofocus: true %>
    <%= f.input :description, as: :text %>
    <%= f.collection_radio_buttons :trade, [[false, 'Sell'], [true, 'Trade']], :first, :last, item_wrapper_class: 'radio-inline' %>
    <%= f.association :state, collection: State.all %>
    <div class="hidden">
      <%= f.input :asking_price, as: :integer %>
    </div>
    <div class="form-group">
      <label for="price_input">Asking Price</label>
      <input type="text" class="form-control" id="price_input">
    </div>
    <%= f.input :asking_items, label: "Asking Items", as: :text %>
</div>
<% if false %>
<div class="col-md-6">
  <h4>Add Equipment</h4>
  <%= render 'equipment/form' %>
</div>
<% end %>
<div class="col-md-8">
  <%= f.submit "Add Listing" %>
  <% end %>
</div>
