<h1>Find Your Shred</h1>

<div class="row" >
  <% if listings.present? %>
    <% listings.each do |listing| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag listing.equipment.present? ? listing.equipment_image : 'fallback/default.jpg' %>
          <div class="caption">
            <h3><%= listing.try(:title) %></h3>
            <p><%= listing.try(:description) %></p>
            <p><strong><%= link_to listing.user.try(:username).capitalize, user_path(listing.user) %></strong> from <strong><%= listing.state_name %></strong> is <strong><%= listing.trade ? "trading" : "selling" %></strong><br>
            <strong>Category</strong>: 
            <% listing.categories.each do |category| %>
              <%= category.name %><%= "," unless category == listing.categories.last %>
            <% end %><br>
            <strong>Brand</strong>: 
            <% listing.brands.each do |brand| %>
              <%= brand.name %><%= "," unless brand == listing.brands.last %>
            <% end %></p>
            <%= link_to 'Details', listing_path(listing), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-warning col-md-8 col-md-offset-2">
      <h1 class="text-center">You don't have anything listing yet.</h1>
      <h3 class="text-center"><%= link_to 'Make One!', new_listing_path %></h3>
    </div>
  <% end %>
</div>


<%= paginate @listings %>

