<h1>Find Your Shred</h1>

<div class="row" >
  <% if listings.present? %>
    <% listings.each do |listing| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <% if listing.equipment.present? %>
            <%= image_tag listing.equipment_image %>
          <% else %>
            <%# Default Image Here %>
          <% end %>
          <div class="caption">
            <h3><%= listing.try(:title) %></h3>
            <p><%= listing.try(:description) %></p>
            <p><strong>Location</strong>: <%= listing.state_name %><br>
            <strong>Category</strong>: 
            <% listing.categories.each do |category| %>
              <%= category.name %><%= "," unless category == listing.categories.last %>
            <% end %><br>
            <strong>Brand</strong>: 
            <% listing.brands.each do |brand| %>
              <%= brand.name %><%= "," unless brand == listing.brands.last %>
            <% end %></p>
            <%= link_to 'Details', listing_path(listing), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<%= paginate @listings %>
