<div class="row">
  <h1 class="text-center">Find Your Shred</h1>
  <% if listings.present? %>
    <% listings.each do |listing| %>
      <div class="col-6 col-sm-6 col-md-5 col-lg-4">
        <div class="thumbnail listing-show">
          <%= image_tag listing.equipment.present? ? listing.equipment_image : 'fallback/default.jpg' %>
          <div class="caption">
            <h3 class="title"><%= listing.try(:title) %></h3>
            <div class="description"><p><%= listing.try(:description) %></p></div>
            <p class="detail"><strong><%= link_to listing.user.try(:username).capitalize, user_path(listing.user) %></strong> from <strong><%= listing.state_name %></strong> is <strong><%= listing.trade ? "trading" : "selling" %></strong><br>
            <strong>Category</strong>:
            <% listing.categories.each do |category| %>
              <%= category.name %><%= "," unless category == listing.categories.last %>
            <% end %><br>
            <strong>Brand</strong>:
            <% listing.brands.each do |brand| %>
              <%= brand.name %><%= "," unless brand == listing.brands.last %>
            <% end %></p>
            <%= link_to 'Details', listing_path(listing), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-warning col-md-8 col-md-offset-2">
      <h1 class="text-center">There are no listings.</h1>
      <h3 class="text-center"><%= link_to 'Make One!', user_signed_in? ? new_listing_path : new_user_registration_path %></h3>
    </div>
  <% end %>
</div>

<div class="col-md-7 col-md-offset-4">
  <%= paginate @listings, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm pagination-center' %>
</div>

