<%
  meta title: @listing.title + ' | Shred List',
       description: @listing.description
%>

<div class="post">
  <p class='listings-nav'><% if user_signed_in? && @listing.owned_by?(current_user) %>
    <%= link_to 'My Listings', user_listings_path(current_user) %> | 
  <% end %>
  <%= link_to 'All Listings', listings_path %></p>
  <div class="row ind-listing">
    <div class="col-md-7">
      <h1><%= @listing.title %><br><small> by <%= link_to @listing.user.username, user_path(@listing.user)%> on <%= @listing.created_at.strftime("%m/%e/%y") %></small></h1>
        <p><strong>Description:</strong> <%= @listing.description %></p>
        <% if !@listing.asking_price.nil? %>
          <p><strong>Asking price:</strong> <%= @listing.currency_symbol %> <%= @listing.price_in_dollars %> (<%= @listing.currency_code %>)</p>
        <% end %>
        <% if !@listing.asking_items.nil? && @listing.trade%>
          <p><strong>Asking items:</strong> <%= @listing.asking_items %></p>
        <% end %>
        <p><strong>Location:</strong> <%= @listing.state.try(:name) %></p>

        <%= render 'listings/equipments' %> 

        <% if @listing.owned_by?(current_user) %>
          <%= link_to 'Edit Listing', edit_listing_path(@listing),  class: 'btn btn-info' %>
          <%= link_to 'New Equipment', new_listing_equipment_path(@listing), class: 'btn btn-info' %>
          <%= link_to 'Delete Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-link' %><br>
        <% end %>
      </div>

      <div class="col-md-5">
        <%= render 'listings/carousel' %>
      </div>
    </div>
  </div>

  <p><%= link_to 'Make An Offer', user_signed_in? ? '#' : new_user_registration_path, id: 'make_offer', class: "btn btn-primary" %></p>

  <div class="offers">
    <%= render 'offers/form' %>
  </div>

  <%= render 'offers/offers' %>

  <%= content_for :extra_footer do %>
    <script>
      $(document).ready(function() {
        $('#new_offer').toggle();
        $('#make_offer').on("click", function(e) {
          $('#new_offer').toggle();
        });
        $('#new_reply').toggle();
        $('#make_reply').on("click", function(e) {
          $('#new_reply').toggle();
        });
      });
    </script>
  <% end %>

