<!DOCTYPE html>
<html>
<head>
  <title>ShredList</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/nav' %>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "#{name} alert alert-info alert-dismissable" %>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <% end -%>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

</body>
</html>
